header nav {
  height: 3.5rem;
  background-color: var(--blue);
  color: var(--white);
}

header nav .navContainer .menu ul {
  gap: 1.5rem;
}

header nav .navContainer .menu ul li a {
  color: var(--white);
}

header nav .navContainer .menu ul .navCall {
  background-color: var(--white);
}

header nav .navContainer .menu ul .navCall a {
  color: var(--blue);
  display: block;
  padding: 0.2rem 0.5rem;
}

header nav .navContainer .menu ul .navCall a .navCallIcon {
  margin: 0 0 -0.15rem 0;
}
