.daExcelBody {
  margin: 0 0 2rem 0;
}

.daExcelBody .daExcelBLeft h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

.daExcelBody .daExcelBLeft p {
  font-weight: 300;
  text-align: justify;
  margin: 0 0 1rem 0;
}

.daExcelBody .daExcelBLeft h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 0.2rem 0;
}

.daExcelBody .daExcelBLeft ul li {
  font-size: 1rem;
  margin: 0 0 0.2rem 0;
}

.daExcelBody .daExcelBLeft h4 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 0 0.3rem 0;
}

.daExcelBody .daExcelBRight {
  padding: 0 0 0 2rem;
}

.daExcelBody .daExcelBRight h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

.daExcelBody .daExcelBRight .downloadBtn a {
  display: block;
  background-color: var(--blue);
  padding: 0.5rem 2rem;
  color: var(--white);
  width: 100%;
  text-align: center;
}

.daExcelBody .daExcelBRight .daExcelContent {
  height: 25rem;
  border: 1px solid grey;
  overflow-y: auto;
  padding: 1rem;
  background-color: var(--white);
}

/* scroll bar */
.daExcelBody .daExcelBRight .daExcelContent::-webkit-scrollbar {
  width: 10px;
}

.daExcelBody .daExcelBRight .daExcelContent::-webkit-scrollbar-track {
  background: #f5f5f5;
}

/* Handle */
.daExcelBody .daExcelBRight .daExcelContent::-webkit-scrollbar-thumb {
  background: #002255;
}

/* Handle on hover */
.daExcelBody .daExcelBRight .daExcelContent::-webkit-scrollbar-thumb:hover {
  background: #002255;
}
.daExcelBody .daExcelBRight .daExcelContent h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 0.2rem 0;
}

.daExcelBody .daExcelBRight .daExcelContent h4 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 0 0.2rem 0;
}

.daExcelBody .daExcelBRight .daExcelContent ul {
  list-style: disc;
  list-style-position: inside;
  margin: 0 0 1rem 0;
}

.daExcelBody .daExcelBRight .daExcelContent ul li {
  font-weight: 300;
}

.daExcelBody .daExcelBRight .daExcelContent ul li ul {
  margin: 0 0 0 2.2rem;
  list-style: decimal;
}

/* course for */
.courseFor {
  margin: 0 0 2rem 0;
}
.courseFor h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

.courseFor p {
  font-weight: 300;
  text-align: justify;
}

.courseFor h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.courseFor ul li {
  font-size: 1rem;
  font-weight: 300;
  margin: 0 0 0.2rem 0;
}
