.WhyChoose .WhyChooseContainer {
  /* background-color: var(--bWhite); */
  border-radius: 0.3rem;
  margin: 0 0 2rem 0;
}

.WhyChoose .WhyChooseContainer h2 {
  font-weight: 300;
  font-size: 2.2rem;
}

.WhyChoose .WhyChooseContainer p {
  font-size: 1.1rem;
  font-weight: 300;
  text-align: justify;
}

.WhyChoose .WhyChooseContainer .whyChooseTab {
  gap: 1rem;
}

.WhyChoose .WhyChooseContainer .whyChooseTab .whyChooseTBox {
  width: 33%;
}

.WhyChoose
  .WhyChooseContainer
  .whyChooseTab
  .whyChooseTBox
  .whyChooseTBoxContent {
  background-color: var(--blue);
  color: var(--white);
  padding: 2rem 1rem 2rem 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.WhyChoose .WhyChooseContainer .whyChooseTab .whyChooseTBox h4 {
  font-weight: 300;
  font-size: 1.3rem;
}

.WhyChoose .WhyChooseContainer .whyChooseTab .whyChooseTBox img {
  width: 100%;
  height: auto;
  margin: 0 0 -1rem 0;
}

.WhyChoose
  .WhyChooseContainer
  .whyChooseTab
  .whyChooseTBox
  .whyChooseBoxDivider {
  width: 15%;
  border-bottom: 1px solid var(--white);
  margin: 0.5rem 0 0.3rem 0;
}

.WhyChoose
  .WhyChooseContainer
  .whyChooseTab
  .whyChooseTBox
  .whyChooseBoxDivider2 {
  width: 10%;
  border-bottom: 1px solid var(--white);
  margin: 0 0 0.5rem 0;
}

.WhyChoose .WhyChooseContainer .whyChooseTab .whyChooseTBox p {
  font-size: 1rem;
}

.whyChooseIcons {
  margin: 0 0 -0.2rem 0;
}

@media screen and (min-width: 200px) and (max-width: 480px) {
  .WhyChoose .WhyChooseContainer .whyChooseTab {
    flex-direction: column;
  }

  .WhyChoose .WhyChooseContainer .whyChooseTab .whyChooseTBox {
    width: 100%;
  }
}
